.container {
  margin: 20px auto;
  width: 90%;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  overflow: auto;
}

.meme {
  margin: 10px;
  float: left;
  border: 5px solid black;
  width: 200px;
}

img {
  width: 100%;
  display: block;
}


#overlay-background {
  background: grey;
  opacity: 0.5;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1001;
}

#overlay-box {
  background: white;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -27%;
  margin-left: -300px;
  width: 600px;
  border: 10px solid black;
  z-index: 1002;
}

#overlay {
  display:inline;
}

#close-button {
  background: url(../images/close-button.png) no-repeat;
  width: 25px;
  height: 29px;
  z-index: 2000;
  position:absolute;
  top:-15px;
  right:-16px;
  cursor: pointer;
}